.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px 0px 50px;
    height: 90px;
}

.search-container{
    border: 1px solid #E0E0E0;
    width: 300px;
    height: 44px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


.input-field{
    border: 0px;
    outline: 0px;
    background-color: transparent;
    width: 90%;
    padding: 10px;
}

.input-field::placeholder{
    color: #B3B3B3;
}

.header-icons{
    font-size: 25px;
    color: #b2b2b2;
    margin-right: 30px;
    cursor: pointer;
}

.red-dot{
    position: absolute;
    left: 14px;
    top: 4px;
    height: 7px;
    width: 7px;
    border-radius: 100%;
    background-color: #FF5151;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.notification-icons-profile-cont{
    display: flex;
    align-items: center;
}

.notification-icon-cont{
    position: relative;
}

.profile-pic{
    height: 40px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-right: 20px;
}

.profile-cont{
    display: flex;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
}

.header-line{
    border-top: 1px solid #E0E0E0;
    margin-left: 50px;
}
.hamburger-menu{
    display: none;
    color: #b2b2b2;
}
.sm-seach-cont{
    display: none;
}

@media (max-width: 1000px){
    .profile-cont{
        p{
            display: none;
        }
    }
}

@media (max-width: 860px){
    .hamburger-menu{
        display: block;
    }
}

@media (max-width: 700px){
    .search-container{
        display: none;
    }
    .sm-seach-cont{
        display: block;
    }
    .hamburger-menu{
        margin-right: 20px;
    }
    .header-icons{
        font-size: 20px;
    }
    .header-container{
        padding: 0px 10px 0px 10px;
    }
}