
.dashboard-container{
    padding: 20px 50px 10px 50px;
}

.dashboard-heading{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
}

.dashboard-content-cont{
    display: flex;
}

.first-container{
    display: flex;
    flex-direction: column;
    width: 65%;
    margin-right: 20px;
}

.top-cards-container{
    display: flex;
    justify-content: space-between;
    flex-shrink: 1;
    gap: 10px;
}

.middle-cards-container{
    display: flex;
    justify-content: space-between;
    flex-shrink: 1;
    gap: 10px;
}

.second-container{
  display: flex;
    flex-direction: column;
    width: 35%;
}

@media all and (max-width: 1200px){
    .dashboard-content-cont{
        display: flex;
        flex-direction: column;
    }
    .first-container{
        width: 100%;
    }
    .second-container{
        width: 98.5%;
        display: flex;
        flex-direction: row;
    }
}

@media (max-width: 1000px){
    .first-container{
        width: 100%;
    }
    .second-container{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
}

@media (max-width: 700px){
    .top-cards-container{
        flex-direction: column;
    }
    .middle-cards-container{
        flex-direction: column;
    }
    .second-container{
        flex-direction: column;
    }
    .dashboard-container{
        padding: 10px;
    }
}
  